<header class="navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Bookers</span>
    </nav>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to " Home", root_path, {class: "glyphicon glyphicon-home home"} %></li>
      <li><%= link_to " About", home_about_path, {class: "glyphicon glyphicon-link about"} %></li>
      <li><%= link_to " sign up", new_user_registration_path, {class: "glyphicon glyphicon-edit sign_up"}%></li>
      <li><%= link_to " login", new_user_session_path, {class: "glyphicon glyphicon-log-in sign_in"} %></li>
    </ul>
    </nav>
  </div>
</header>

<div class="container">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", {class: "btn btn-danger"} %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>

<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
