<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
      <nav class='nav navbar-nav navbar-left' >
       <span>Bookers</span>
      </nav>
     </div>
    </header>
    <%= yield %>
    <p>CopyRight Infratop.inc</p>
  </body>
</html>
